{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": false,
    "plugins": ["prettier-plugin-solidity"],
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "printWidth": 150,
                "tabWidth": 2,
                "singleQuote": true
            }
        }
    ]
}
